<div id="<%= dom_id book %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= book.title %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Author:</strong>
    <%= book.author %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Genre:</strong>
    <%= book.genre %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Initial rating:</strong>
    <%= book.initial_rating %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= book.description %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Isbn 10:</strong>
    <%= book.isbn_10 %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Isbn 13:</strong>
    <%= book.isbn_13 %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Sm thumbnail img:</strong>
    <%= book.sm_thumbnail_img %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Thumbnail img:</strong>
    <%= book.thumbnail_img %>
  </p>
</div>
